@charset "UTF-8";


*{
    margin: 0;
}
a{
    text-decoration: none;
}

.sec01{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    height: auto;
    margin: auto;
}
section.sec02{
    width: 1200px;
    height: auto;
    margin: auto;
    position: relative;
    /* overflow-x : hidden; */
}
section.sec02 .inner02{
    display: flex;
    flex-direction: column;
    align-items: center;
}
section.sec02 h2{
    text-align: center;
    width: 250px;
    font-size: 36px;
    font-weight: 600;    
}
section.sec02 .inner02 > .newprod{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px 0 0 0;
}
.newprod > .new{
    width: 375px;
    height: 336px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin: auto;
    text-align: center;
    /* padding: 10px; */
    padding-bottom: 55px;
}
.new:hover{
    background:  #FFDF8C;
    border-radius: 20px;
    padding: 3px 4px;
}
.newprod > .new .photo{
    width: 100%;
    height: 307px;
    position: relative;
    justify-content: center;
    border-radius: 20px 20px 0 0;
}
.newprod > .new:nth-child(1) .photo{
    background: url(/ex/image/story/01.png) no-repeat;
    background-size: cover;
}
.newprod > .new:nth-child(2) .photo{
    background: url(/ex/image/story/02.png) no-repeat;
    background-size: cover;
} 
.newprod > .new:nth-child(3) .photo{
    background: url(/ex/image/story/03.png) no-repeat;
    background-size: cover;
} 
.newprod > .new:nth-child(4) .photo{
    background: url(/ex/image/story/04.png) no-repeat;
    background-size: cover;
} 
.newprod > .new:nth-child(5) .photo{
    background: url(/ex/image/story/05.png) no-repeat;
    background-size: cover;
} 
.newprod > .new:nth-child(6) .photo{
    background: url(/ex/image/story/06.png) no-repeat;
    background-size: cover;
} 
.newprod > .new:nth-child(7) .photo{
    background: url(/ex/image/story/07.png) no-repeat;
    background-size: cover;
} 
.newprod > .new:nth-child(8) .photo{
    background: url(/ex/image/story/08.png) no-repeat;
    background-size: cover;
} 
.newprod > .new:nth-child(9) .photo{
    background: url(/ex/image/story/09.png) no-repeat;
    background-size: cover;
} 
.newprod > .new:nth-child(10) .photo{
    background: url(/ex/image/story/10.png) no-repeat;
    background-size: cover;
} 
.newprod > .new:nth-child(11) .photo{
    background: url(/ex/image/story/11.png) no-repeat;
    background-size: cover;
} 
.newprod > .new:nth-child(12) .photo{
    background: url(/ex/image/story/12.png) no-repeat;
    background-size: cover;
} 
.newprod > .new:nth-child(13) .photo{
    background: url(/ex/image/story/13.png) no-repeat;
    background-size: cover;
} 
.newprod > .new:nth-child(14) .photo{
    background: url(/ex/image/story/14.png) no-repeat;
    background-size: cover;
} 
.newprod > .new:nth-child(15) .photo{
    background: url(/ex/image/story/15.png) no-repeat;
    background-size: cover;
} 
.newprod > .new:nth-child(16) .photo{
    background: url(/ex/image/story/16.png) no-repeat;
    background-size: cover;
} 
.newprod > .new:nth-child(17) .photo{
    background: url(/ex/image/story/17.png) no-repeat;
    background-size: cover;
} 
.newprod > .new:nth-child(18) .photo{
    background: url(/ex/image/story/18.png) no-repeat;
    background-size: cover;
} 

/* .newprod > .new span:first-of-type{ width: 90%; } */
 /* .newprod > .new span:first-of-type{ margin: 0 0 20px 0; } */
.newprod > .new .txt{
    background: #FFDF8C;
    font-size: 20px;
    color: #3d3d3d;
    font-weight: 500;
    padding: 15px 20px;
    border-radius: 0 0 20px 20px;
}

