@charset "UTF-8";


    .navbar{
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 12px;
    }
    .navmenu{
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navmenu li{
        width: 100%;
        text-align: center;        
    }
    .navsns{
        display: none;
        justify-content: center;
        width: 100%;
    }
    .nav_toogleBT{
        display: block;
    }

    .navmenu.active,
    .navsns.active{
        display: flex;
    }
