@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

*{  margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
    box-sizing: border-box;
}
/* nav */
a{
    text-decoration: none;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 15px 12px;
}
.logo{
    font-size: 24px;
    color: #686868;
}
.navmenu{
    display: flex;
    list-style: none;
    padding-left: 0;
    justify-content: center;
    align-items: center;
}
.navmenu li{
    padding: 8px 12px;
    position: relative;
    justify-content: space-around;
}
.navmenu li::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 4px;
    background: #999fff;
    transition: all .5s ease-out;
}
.navmenu li:hover::after{
    width: 80%;
}
.navmenu li .submenu{
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    list-style: none;
    padding-left: 0;
    display: none;
    flex-direction: column;
    background: rgb(214, 196, 255);
}
.submenu{
    display: none;
}
.sbsbmn{
    list-style: none;
}
.navsns{
    list-style: none;
    display: flex;
}
.navsns a{
    padding: 8px 12px;
    padding-left: 0;
    font-size: 24px;
    color: #eee;
}
.nav_toogleBT{
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
    color: #575757;
}
.navmenu > li.active .submenu{
    display: flex;
}
  




/* sec01 */
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }