@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

:root{
    --text-color: #f0f4f5;
    --background-color : pink;
    --accent-color: #f1f1f1;
}
*{  margin: 0;
    /* padding: 0; */
    font-family: 'Noto Sans KR', sans-serif;
    
}
/* img{
    margin: auto;
    display: block;
} */
a{
    text-decoration: none;
    color: var(--text-color);
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: pink;
    padding: 8px 12px;
}

.navlogo{
    font-size: 24px;
    color: var(--text-color);
}

.navmenu{
    display: flex;
    list-style: none;
    padding-left: 0;
}
.navmenu li{
    padding: 8px 20px;    
}
.navmenu li:hover{
    background-color: black;
}
.navsns{
    list-style: none;
    color: var(--text-color);
    display: flex;
}
.navsns a{
    padding: 8px 12px;
    padding-left: 0;
    font-size: 24px;

}
.nav_toogleBT{
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
    color: var(--text-color);

}

@media screen and (max-width: 768px) {
    .navbar{
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 12px;
    }
    .navmenu{
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navmenu li{
        width: 100%;
        text-align: center;        
    }
    .navsns{
        display: none;
        justify-content: center;
        width: 100%;
    }
    .nav_toogleBT{
        display: block;
    }

    .navmenu.active,
    .navsns.active{
        display: flex;
    }
}

/* sec01 */
.sec01{
    background-color: var(--background-color);
    position: relative;
    height: 565px;
    width: 100%;
    align-items: center;
}

.sec01 a{
    color: var(--text-color);
    padding: 10px 15px;
    display: block;
    background: #FF8A8D;
    text-align: center;
    position: absolute;
    bottom: 10px;
    border-radius: 90px;
}
.swiper {
    width: 100%;
    height: 100%;
}

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

   
/* topbanner */
.topbanner{
    display: flex;
    height: 204px;
    margin: auto;

    /* padding: 0 120px; */
}
.leftbanner{
    background-color: var(--background-color);
    width: 100%;
    align-items: center;
}
.leftbanner p{
    color: var(--text-color);
    font-size: 24px;
    align-items: center;
}

.rightbanner{
    background-color: #D6CCFF;
    width: 100%;
    align-items: center;
}
.topbanner img{
    margin: auto;
    display: block;
}
/* sec-02 */
/* section .sec02{
    width: 1200px;
    height: 550px;
    padding: 70px 0;
}
section.sec02.inner{
    display: flex;
    flex-direction: column;
    align-items: center;    
}
section.sec02 h2{
    text-align: center;
    width: 250px;
    font-size: 2.5rem;
    font-weight: 600;
    background: black;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
section > .sec02{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 70px 0 0 0;
}
.newp{
    display: block;

}
.newP > .newprod{
    width: 409px;
    height: 485px;
    background-color: lemonchiffon;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.newP > .newprod .newprodphoto{
    width: 409px;
    height: 307px;
    position: relative;
}
.newP > .newprod:nth-child(1) .newprodphoto{
    background: url(/ex/image/new01.png) 50% 50% no-repeat;
    background-size: cover;
}
.newP > .newprod:nth-child(2) .newprodphoto{
    background: url(/ex/image/new02.png) 50% 50% no-repeat;
    background-size: cover;
}
.newP > .newprod:nth-child(3) .newprodphoto{
    background: url(/ex/image/new03.png) 50% 50% no-repeat;
    background-size: cover;
} */


/* sec-03 */
.sec03{
    position: relative;
    height: 100%;
}
.sec03 h2{
    text-align: center;
    font-size: 36px;
}
.sec03{
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}
.sec03 .swiper {
    width: 1200px;
    height: 100%;
  }

  .sec03 .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sec03 .swiper-slide img {
    display: block;
    width: 100%;
    height: 335px;
    object-fit: cover;
  }
.middleimage img{
    height: 375px;
    width: 100%;
    margin: auto;
    display: block;
    
}

/* sec04 */
.sec04{
    background-color: #4A679E;
}
.sec04 a{
    color: #000;
    display: flex;
    flex-flow: column;
    align-items: center;

}
.sec04 .bottom{
    display: flex;
    border-spacing: 150px;
    align-items: center;
    font-size: 30px;
}
.sec04 .bottom01,.bottom02,.bottom03{
    align-items: center;
    padding: 0;
    margin: 120px;
    background-color: #fff;
    width: 300px;
    height: 350px;
    border-radius: 30px;
}
