@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

:root{
    --text-color: #2c2f30;
    --background-color : #FFF1F2;
    --accent-color: #f1f1f1;
}
/* *{  margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
} */
body{
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;

}
a{
    text-decoration: none;
    color: var(--text-color);
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    padding: 8px 12px;
}

.navlogo{
    font-size: 24px;
    color: var(--text-color);
}

.navmenu{
    display: flex;
    list-style: none;
    padding-left: 0;
}
.navmenu li{
    padding: 8px 20px;    
}
.navmenu li:hover{
    background-color: #FF9A9A;
    border-radius: 10px;
}
.navsns{
    list-style: none;
    color: var(--text-color);
    display: flex;
}
.navsns a{
    padding: 8px 12px;
    padding-left: 0;
    font-size: 24px;

}
.nav_toogleBT{
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
    color: var(--text-color);

}

@media screen and (max-width: 768px) {
    .navbar{
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 12px;
    }
    .navmenu{
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navmenu li{
        width: 100%;
        text-align: center;        
    }
    .navsns{
        display: none;
        justify-content: center;
        width: 100%;
    }
    .nav_toogleBT{
        display: block;
    }

    .navmenu.active,
    .navsns.active{
        display: flex;
    }
}